/* NUXT Documentation: https://nuxt.com/docs/getting-started/styling*/

h2 {
    margin-bottom:30px;
    margin-top: 50px;
    font-size:36px;
    text-align: center;
}
p{
    margin: 20px 0;
    text-align: center;
    font-size: 22px;
}

.logo{
    color: #1f1072;
    font-size: 21px;
    font-family: cursive;
    text-decoration: none;
    padding: 15px;
}

.nav-bar {
  background-color: rgba(249, 242, 241, 0.871);
  padding-bottom: 20px;
  margin: 0;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 5px ;
  display: flex;
  justify-content: space-around;
}

.nav-bar ul li {
  margin: 0 150px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  padding: 12px 10px;

}

.nav-bar ul li a:hover,
.nav-bar ul li a:focus {
  color: #fff;
  background-color: #061a30f0;
  border-radius: 6px;
}